* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #c7e2e3;
    text-align: center;
    background-image: url(./images/img2.jpg);
    
  }

  h1{
    font-size: 3rem;
    margin-top: 3rem;
    color: #fff;
  }
  
  .container {
    height: 70vh;
    display: flex;
  
    justify-content: center;
    align-items: center;
  }
  
  .game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
  }
  
  .box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #7f3af7;
    background-color: #ffffc7;
  }
  
  #reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }

  #reset-btn:hover{
    background-color: rgb(255, 249, 249);
    color: #191913;

  }
  
  
  #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }

  #new-btn:hover{
    background-color: rgb(255, 249, 249);
    color: #191913;
  }
  
  #msg {
    color: #ffffff;
    font-size: 5vmin;
    font-weight: bold;
  }
  
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    gap: 4rem;
    background:transparent;
   

  }
  
  .hide {
    display: none;
  }